# Virtual environment
venv/

# Python
__pycache__/
*.pyc

# Notebook
.ipynb_checkpoints/
notebooks/archived

# Data
datasets/
data/raw/
data/realtime/


# Result
results/experiments
results/summary

# Models
*.pkl
*.h5

models_deploy/
models_nfstream/

# OS
.DS_Store
Thumbs.db